[Unit]
Description=Resize root filesystem to full available size

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sleep 5 ; /usr/sbin/ea-resizefs.sh'

[Install]
WantedBy=multi-user.target
